html, body{
  font: Arial !important;
  font-family: Arial !important;
}

#scaleSelect{
  display: none;
}

#viewFind, #numPages, #pageNumber, .splitToolbarButton.hiddenSmallView, #toolbarViewerMiddle, #secondaryToolbarToggle, #viewBookmark, #openFile, #presentationMode, #toolbarViewerMiddle, .verticalToolbarSeparator.hiddenSmallView{
  display: none !important;
}

#viewer{
  background-color: #ddd;
}

#viewerContainer{
  background-color: #ddd;
}

.home_{
  padding-top: 10px;
  padding-left: 20px;
}

.pdfViewer .page{
  border: 0px;
  border-image: none;
}

#loadingBar{
  display: none;
}

#toolbarViewer{
  background-color: #ddd;
}

#toolbarContainer{
  box-shadow: 0px;
}
button{
  margin: 8px 10px 0px 20px !important;
}
button p {
  display: inline-block;
  vertical-align: middle;
}
.pdfViewer .page:first-child{
  /* top: 22px !important; */
}
textarea, input{
  border: none;
}
textarea{
  padding: 3px;
}
.comment-form-comment{
  font-size: 12px;
}
input{
  padding: 6px 0px 6px 3px;
  margin-bottom: 6px;
  width: 98%;
  border: 1px solid #dedede;
}
input#submit.submit{
  /* border: 1px solid #0051ff;
  cursor: pointer;
  background-color: white;
  color: #0051ff;
  text-transform: uppercase;
  width: 48%;
  border-radius: 25px;
  height: 22px;
  line-height: 0px; */

  border: 1px solid #00aa00;;
  cursor: pointer;
  background-color: white;
  color: #00aa00;;
  text-transform: uppercase;
  width: 100%;
  border-radius: 25px;
  height: 30px;
  line-height: 0px;
}
input#submit.submit:hover{
  background-color: #00aa00;
  color: white;
  border-color: white;


}
input#decline{
  /* background-color: white;
  border: 1px solid #ff4600;
  cursor: pointer;
  background-color: white;
  color: #ff4600;
  text-transform: uppercase;
  width: 48%;
  border-radius: 25px;
  height: 22px;
  line-height: 0px;
  float: right; */

  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid;
  position: relative;
  float: right;
  display: inline-block;
  vertical-align: top;
  right: 0px;
  top: -16px;
  cursor: pointer;
  text-align: center;
  z-index: 300;
  line-height: 0px;
  padding-left: 0px;
}
input#decline:hover{
  /* background-color: #ff4600;
  color: white; */


}
p.comment-notes{
  display: none;
}
.commentdot{
  background: #fff06e;
  background: #ffeb32;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  position: absolute;
  z-index: 90;
  cursor: pointer;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);;
}
.comment-notes p:first-child{
  display: inline-block !important;
}
.dot{
  border: 1px solid;
  background-color: transparent;
  width: 13px;
  height: 13px;
  border-radius: 16px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.marktool, .highlighttool{
  display: inline-block;
}
body .comment_positioned {
  color: black;
  max-width: 300px;
  font-size: 12px;
  position: absolute;
  display: block;
  background-color: lightyellow;
  /* border: 1px solid #ffeb32; */
  padding: 12px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  z-index: 90;
}
#respond{
  background-color: lightyellow;
  border: 0px solid;
  padding: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
#respond label{
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.arrow_left{
  background-color: transparent;
  width: 10px;
  height: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.arrow_down{
  background-color: transparent;
  width: 10px;
  height: 15px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.about{
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  right: 6px;
}
.square{
  border: 1px solid;
  background-color: transparent;
  width: 8px;
  height: 12px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
label{
  padding: 6px 0px 6px 0px;
  display: block;
}
.fillh{
  background-color: #ffeb32;
  border-color: #ffeb32;
}
.hoverstateh{
  border-color: #ffeb32;
}
.fillm{
  background-color: #ffeb32;
  border-color: #ffeb32;
}
.hoverstatem{
  border-color: #ffeb32;
}
.hoverstatep{
  background-color: white;
}
.comment-form-url{
  margin-bottom: 10px;
}
.arrow_switch{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 4px;
}
.showabout{
  visibility: visible !important;
}
#aboutPage{
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  z-index: 280;
  top: 0px;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
}
#aboutPage p{
  padding-top: 10px;
  padding-left: 20px;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  line-height: 17px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#aboutPage a, #aboutPage a:visited{
  color: #ddd;
  border-bottom: 0.5px solid #ddd;
  text-decoration: none;
}
#aboutPage a:hover{
  text-decoration: none;
  color: transparent;
  border-color: #ddd;
}
.aboutclose{
  background-color: transparent;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: 1px solid;
  position: fixed;
  display: inline-block;
  vertical-align: top;
  right: 20px;
  top: 9px;
  cursor: pointer;
  text-align: center;
  z-index: 300;
  line-height: 17px;
  color: #ddd;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#audio{
  display: none;
}
#download{
  margin-right: 20px !important;
}
#download:hover {
  animation: pulse 0.5s infinite linear;
  color: #ff3200;
}
.play{
  vertical-align: middle;
  margin-right: 4px;
  display: inline-block;
  font-size: 16px;
  vertical-align: top;
}

#print{
  display: none;
}
#highlighttool, #marktool{
  border: 1px solid black;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
  border-radius: 25px;
  height: 20px;
  line-height: 0px;
  width: 110px;
}
#highlighttool:hover{
  color:  light#ffeb32;
  border-color: light#ffeb32;
}
#marktool:hover{
  color:  #0051ff;
  border-color: #0051ff;
}

@keyframes pulse {
  0% {
    top: -3px;
  }
  100% {
    top: 3px;
  }
}
/* .c, .play{
  width: 9px;
  height: 12px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
} */
.loading{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 300;
  pointer-events: none;
}
.sec{
  margin-top: 6px;
}
#infoSection{
  right: 20px;
  bottom: 20px;
  /* color: #fff06e; */
  position: fixed;
  z-index: 260;
}
#infoSection p{
  color: #544bff;
  font-size: 32px;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: none;
  text-transform: uppercase;

  /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
  /* text-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); */
}
#new_post_highlight{
  display: none;
}

#infoSection {
     -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
#infoSection:hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
  cursor: pointer;
  color: #ddd;
}

#startScreen{
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  background-color: black;
  z-index: 999;
  pointer-events: none;
}
/* WebKit and Opera browsers */ @-webkit-keyframes spinner {
from
{
    -webkit-transform: rotateY(0deg);
}
to {
    -webkit-transform: rotateY(360deg);
}
} /* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to
    {
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);

    }
}

/*guida dont delete*/
#thumbnailView_manifestos{
    position: absolute;
    width: 140px;
    top: 0;
    bottom: 0;
    padding: 30px 14px 0;
    overflow: auto;
  }
